@import 'tailwindcss';
@plugin "tailwindcss-react-aria-components";
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/yellow.css';
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/gray-dark.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/yellow-dark.css';
@import '@radix-ui/colors/orange-dark.css';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-sans: var(--font-general-sans);
	--font-mono: var(--font-geist-mono);
}

:root {
	--radius: 0.625rem;
	--background: var(--gray-1);
	--foreground: var(--gray-12);
	--card: var(--gray-1);
	--card-foreground: var(--gray-12);
	--popover: var(--gray-1);
	--popover-foreground: var(--gray-12);
	--primary: var(--gray-12);
	--primary-foreground: var(--gray-1);
	--secondary: var(--gray-1);
	--secondary-foreground: var(--gray-12);
	--muted: var(--gray-2);
	--muted-foreground: var(--gray-9);
	--accent: var(--gray-3);
	--accent-foreground: var(--gray-11);
	--destructive: var(--red-9);
	--border: var(--gray-6);
	--input: var(--gray-6);
	--ring: var(--gray-9);
	--chart-1: var(--red-10);
	--chart-2: var(--green-10);
	--chart-3: var(--blue-10);
	--chart-4: var(--yellow-10);
	--chart-5: var(--orange-10);
	--sidebar: var(--gray-1);
	--sidebar-foreground: var(--gray-12);
	--sidebar-primary: var(--gray-12);
	--sidebar-primary-foreground: var(--gray-1);
	--sidebar-accent: var(--gray-3);
	--sidebar-accent-foreground: var(--gray-12);
	--sidebar-border: var(--gray-6);
	--sidebar-ring: var(--gray-7);
}

@theme {
	--breakpoint-3xl: 120rem;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 0.25rem);
	--radius-md: calc(var(--radius) - 0.125rem);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 0.25rem);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--color-blue-1: var(--blue-1);
	--color-blue-2: var(--blue-2);
	--color-blue-3: var(--blue-3);
	--color-blue-4: var(--blue-4);
	--color-blue-5: var(--blue-5);
	--color-blue-6: var(--blue-6);
	--color-blue-7: var(--blue-7);
	--color-blue-8: var(--blue-8);
	--color-blue-9: var(--blue-9);

	--color-blue-10: var(--blue-10);
	--color-blue-11: var(--blue-11);
	--color-blue-12: var(--blue-12);
	--color-green-1: var(--green-1);
	--color-green-2: var(--green-2);
	--color-green-3: var(--green-3);
	--color-green-4: var(--green-4);
	--color-green-5: var(--green-5);
	--color-green-6: var(--green-6);
	--color-green-7: var(--green-7);
	--color-green-8: var(--green-8);
	--color-green-9: var(--green-9);
	--color-green-10: var(--green-10);
	--color-green-11: var(--green-11);
	--color-green-12: var(--green-12);

	--color-red-1: var(--red-1);
	--color-red-2: var(--red-2);
	--color-red-3: var(--red-3);
	--color-red-4: var(--red-4);
	--color-red-5: var(--red-5);
	--color-red-6: var(--red-6);
	--color-red-7: var(--red-7);
	--color-red-8: var(--red-8);
	--color-red-9: var(--red-9);
	--color-red-10: var(--red-10);
	--color-red-11: var(--red-11);
	--color-red-12: var(--red-12);

	--color-gray-1: var(--gray-1);
	--color-gray-2: var(--gray-2);
	--color-gray-3: var(--gray-3);
	--color-gray-4: var(--gray-4);
	--color-gray-5: var(--gray-5);
	--color-gray-6: var(--gray-6);
	--color-gray-7: var(--gray-7);
	--color-gray-8: var(--gray-8);
	--color-gray-9: var(--gray-9);
	--color-gray-10: var(--gray-10);
	--color-gray-11: var(--gray-11);
	--color-gray-12: var(--gray-12);

	--color-yellow-1: var(--yellow-1);
	--color-yellow-2: var(--yellow-2);
	--color-yellow-3: var(--yellow-3);
	--color-yellow-4: var(--yellow-4);
	--color-yellow-5: var(--yellow-5);
	--color-yellow-6: var(--yellow-6);
	--color-yellow-7: var(--yellow-7);
	--color-yellow-8: var(--yellow-8);
	--color-yellow-9: var(--yellow-9);
	--color-yellow-10: var(--yellow-10);
	--color-yellow-11: var(--yellow-11);
	--color-yellow-12: var(--yellow-12);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-accent text-foreground;
	}
}

@utility container {
	margin-inline: auto;
}

.lucide {
	width: 1em;
	height: 1em;
}

::-webkit-scrollbar {
	width: 0.625rem;
	height: 0.625rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--gray-9);
	border-radius: 1.875rem;
	border: 3px solid transparent;
	background-clip: padding-box;
}
